//designer please put your stuff here -> globals (color, fonts, etc)Head omg
.Layer_3 {
    background-image: url("Layer 3.png");
    position: absolute;
    left: 32px;
    top: 18px;
    width: 76px;
    height: 80px;
    z-index: 705;
  }

  .Admin {
    font-size: 13px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.385;
    text-align: left;
    position: absolute;
    left: 117.937px;
    top: 46.998px;
    z-index: 703;
  }
  Background colour
  .user_backing {
    background-color: rgb(105, 8, 0);
    position: absolute;
    left: 0px;
    top: -4px;
    width: 256px;
    height: 110px;
    z-index: 702;
  }