// import vars and modules
@import '_vars';

//import required modules
@import 'modules/_sidebar';
@import 'modules/_header';
@import 'modules/_banner';
@import 'modules/_content';
@import 'modules/_footer';

.sidebar {
    background-color: $sidebar-bgcolor;
}
header {
    background-color:$header-bg-color;
    color: $header-font-color;
}
footer {
    background-color: footer-bg-color;
    color: $footer-text-color;
}