

  #content-1-text
  {
      position: absolute;
    
      font-family: $nav-font-family;
      color: $content-1-text-color;
      line-height: 1.25;
     }
     #name_1
     {
         position: relative;
         margin-top: -400px;
         margin-left: 40px;
     }
     #position_1
     {  
         position: absolute;
         margin-top: 1px;
         margin-left: 40px;
     }
     #text_1
     {
        // position: absolute;
        margin-top: 50px;
        margin-left: 40px;

     }


#content-2
{
    margin-top: 21px;
    margin-right: -20px;
      
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#5f5f5f;
  }
.lightbox > img {
    margin-left: 25%;
}
.lightbox1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#5f5f5f;
  }
.lightbox1 > img {
    margin-left: 20%;
    margin-top: -10%;
    transform: scale(0.7);
}
.close_lightbox {
    position: absolute;
	right: 12px;
	top: 12px;
	font-family: arial, helvetica, sans-serif;
	font-size: 3em;
	font-weight: bold;
	color: white;
	cursor: pointer;
  }
    
  
  #content-2-text
  {
      position: absolute;
      font-size: $nav-font-size;
      font-family: $nav-font-family;
      color: $content-2-text-color;
      line-height: 1.25;
  }

  #name_2
  {
      position: relative;
      margin-top: -380px;
      margin-left: 90px;
  }
  #position_2
  {  
      position: absolute;
      margin-top: -43px;
      margin-left: 350px;
  }
  #text_2
  {
     position: absolute;
     margin-top:330px;
     margin-left:50%;
     width: 600px;

  }
  #content-3-4
  {
      height: 500px;
      background-color:  $content-3-4-bgcolor;
  }
  #content-3
  {
      height: 507px;
      width: 600px;
      background-color: #68b4c4;
  
  }
  #content-4
  {
      height: 507px;
      width: 600px;
      background-color: #22bdb7;
     
  }
  #content-2-image:hover {
    transform: scale(1.02);
  }
  #content-3-image
  {
    margin-top: 30px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
  }
  #content-4-image
  {
    margin-top: 30px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
  }

  #content-3-text{
    font-size: 2em;
    margin: 0 auto;
    margin-top: -5%;
    width: 50%;
    font-family:  $content-3-4-text-ffamily;
    color:  $content-3-4-text-color;
    line-height: 1.5;
  }
  #content-4-text{
    font-size: 2em;
    margin-top: 10%;
    margin: 0 auto;
    width: 50%;
    font-family:  $content-3-4-text-ffamily;
    color:  $content-3-4-text-color;
    line-height: 1.5;
  }