#content_1-2
  {
      
      background-color:  $content-1-2-bgcolor;
      width: $body-max-width;
  height: $content-1-2-height;

  }
  
  #content-1
  {
    
      text-align: center;
 
      width:  $conent-1-width;
      height:  $content-1-height;
    
  }
  #content-image-1
  {
    margin-top: 1.25em;
    margin-left: 1.5625em;
    width:  $conent-1-width;
    height:  $content-1-height;
  }
  #content-1-text
  {
      position: absolute;
    
      font-family: $nav-font-family;
      color: $content-1-text-color;
      line-height: 1.25;
     }
     #name_1
     {
         position: relative;
         margin-top: -360px;
         margin-left: -50px;
     }
     #position_1
     {  
         position: absolute;
         margin-top: -43px;
         margin-left: 300px;
     }
     #text_1
     {
        // position: absolute;
        margin-top: 180px;
        margin-left: 100px;

     }


#content-2
{
    margin-top: 21px;
    margin-right: -20px;
      
}


    
  
  #content-2-text
  {
      position: absolute;
      font-size: $nav-font-size;
      font-family: $nav-font-family;
      color: $content-2-text-color;
      line-height: 1.25;
  }

  #name_2
  {
      position: relative;
      margin-top: -329px;
      margin-left: 90px;
  }
  #position_2
  {  
      position: absolute;
      margin-top: -43px;
      margin-left: 300px;
  }
  #text_2
  {
     // position: absolute;
     margin-top: 180px;
     margin-left:90px;

  }
  #content-3-4
  {
      height: 680px;
      background-color:  $content-3-4-bgcolor;
  }
  #content-title h3
  {
    font-size: 40px;
    font-family: $nav-font-family;
    color: $nav-font-color;
    font-weight: $main-font-weight;
    line-height: 0.525;
    text-align: center;
    margin-top: 30px;
  
  }
  #content-3-image
  {
      margin-top: 30px;;
  }
  #content-4-image
  {
      margin-top: 20px;
      opacity: 0.8;
  }
  #content-3-text h3{
    font-size: 18px;
    font-family: $content-3-4-text-ffamily;
    color:  $content-3-4-text-color;
    line-height: 2;
    margin-left: 30px;
  }
  #content-4-text h3{
    font-size: 18px;
    margin-top: 7px;
    font-family:  $content-3-4-text-ffamily;
    color:  $content-3-4-text-color;
    line-height: 2.667;
  }